<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="shortcut icon" href="../Assets/images/icon.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container-logo">
            <img class="img-logo" src="../Assets/images/logo (2).png" alt="logotipo">
        </div>

        <div class="container">
            <h2>So-Travel</h2>
        </div>

        <div class="navbar">
            <ul class="ul-navbar">
                <li><a href="/templates/vuelos.html" class="item-nav"><img src="/Assets/icons/plane-solid-24.png" alt="avion">Vuelos</a></li>
                <li><a href="/templates/alquiler_carros.html" class="item-nav"><img src="/Assets/icons/car-solid-24.png" alt="carro">Alquiler de carros</a></li>
                <li><a href="/templates/librerias.html" class="item-nav"><img src="/Assets/icons/book-reader-solid-24.png" alt="libro">Librerias</a></li>
            </ul>
        </div>
    </header>
    <main>
        <form action="" method="get">
            <select name="select" id="select">
                <option value="option"><img src="/Assets/icons/map-regular-24.png" alt="destino">Cuidad de destino</option>
                <option value="option1">Armenia</option>
                <option value="option2">Barranquilla</option>
                <option value="option3">Bogota</option>
                <option value="option4">Cartagena</option>
                <option value="option5">San Andres</option>
                <option value="option6">Santa Marta</option>
                <option value="option7">Cali</option>
                <option value="option8">Bucaramanga</option>
                <option value="option9">La Guajira</option>
                <option value="option10">Manizales</option>
                <option value="option11">Pasto</option>
                <option value="option12">Pereira</option>
                <option value="option13">Popayan</option>
            </select>

            <label for="salida">Dia de Salida</label><input type="date" name="salida" id="salida">
            <label for="regreso">Dia de Regreso</label> <input type="date" name="regreso" id="regreso">

            <select name="select" id="select">
                <option value="option14">Cantidad de Personas</option>
                <option value="option15">1</option>
                <option value="option15">2</option>
                <option value="option15">3</option>
                <option value="option15">4</option>
                <option value="option15">5</option>
            </select>

        </form>

    </main>
    
</body>
</html>